<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
     {{ currExercise.title }} - {{ ('00' + minutes).slice(-2) }}:{{ ('00' + seconds).slice(-2) }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--include all exercise views here with the correct *ngIf's-->
  <app-parsons *ngIf="currExercise?.exerciseType === 'parsons'" class="exercise" [exercise]="currExercise" (doneEvent)="userFinished()"></app-parsons>
  <app-comment-slots *ngIf="currExercise?.exerciseType === 'commentSlot'" class="exercise" [exercise]="currExercise" (doneEvent)="userFinished()"></app-comment-slots>
  <app-param-chooser *ngIf="currExercise?.exerciseType === 'paramChooser'" class="exercise" [exercise]="currExercise" (doneEvent)="userFinished()"></app-param-chooser>
  <app-pick-snippet-for-flowchart *ngIf="currExercise?.exerciseType === 'chooseCodeSnippetForFlowchart'" class="exercise" [exercise]="currExercise" (doneEvent)="userFinished()"></app-pick-snippet-for-flowchart>
  <app-pick-flowchart-for-snippet *ngIf="currExercise?.exerciseType === 'chooseFlowchartForCodeSnippet'" class="exercise" [exercise]="currExercise" (doneEvent)="userFinished()"></app-pick-flowchart-for-snippet>
  <app-multiple-choice *ngIf="currExercise?.exerciseType === 'multipleChoice'" class="exercise" [exercise]="currExercise" (doneEvent)="userFinished()"></app-multiple-choice>




  <!--Here starts the model in between exercises-->
  <ion-modal trigger="open-modal" (willDismiss)="next()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Progress</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="next()" [strong]="true">Continue</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-progress></app-progress>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
