ion-slides {
  height: 100%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  font-size: x-large;
}
.snippet {
  flex-grow: 10;
  height: 100%;
}

.flowchart {
  flex-grow: 10;
}

.selectBtn {
  min-height: 40px;
  flex-grow: 1;
}

.slide-container {
  height: 96%;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

::ng-deep snippet-highlight, ::ng-deep snippet-highlight > div, ::ng-deep snippet-highlight .dark, ::ng-deep snippet-highlight .code-toolbar,
::ng-deep snippet-highlight .language-javascript {
  height: 98%;
}