.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.btnConfirm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 20px
}

::ng-deep snippet-highlight, ::ng-deep snippet-highlight > div, ::ng-deep snippet-highlight .dark, ::ng-deep snippet-highlight .code-toolbar,
::ng-deep snippet-highlight .language-javascript {
  height: 98%;
}