<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ state.selectedPresentation.name.replace('.presentation.md', '') }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
   <div class="reveal">
      <div class="slides">
        <section data-markdown>
          <textarea data-template>
            {{ state.selectedPresentation.body }}
          </textarea>
        </section>
      </div>
   </div>
  </div>
</ion-content>