<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select presentation
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-accordion-group>
      <ng-container  *ngFor="let psGroup of presentationGroups$ | async">
        <ion-accordion *ngIf="psGroup.presentations.length > 0">
          <ion-item slot="header" color="light">
            <ion-label> {{ psGroup.groupname }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class="presentation-entry" (click)="startPresentation(p)" *ngFor="let p of psGroup.presentations">
              <div> {{ p.name.replace('.presentation.md', '') }} </div>
              <div><ion-icon name="albums"></ion-icon></div>
            </div>
          </div>
  
          <div class="ion-padding" *ngIf="psGroup.presentations.length === 0" slot="content">
            <div class="presentation-entry" *ngFor="let p of psGroup.presentations">
              <div> No presentations. </div>
              <div></div>
            </div>
          </div>
        </ion-accordion>
      </ng-container>
    </ion-accordion-group>
  </div>
</ion-content>