<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      JSStudyBuddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <img src="assets/icon.png" alt="logo" />

    <div class="btnSet">
      <ion-button class="btnStartGame" (click)="navigateToSelectProblemsetScreen()" color="primary">Start game</ion-button>
      <ion-button class="btnStartGame" (click)="navigateToOverview()" color="secondary">View progress</ion-button>
    </div>

  </div>
</ion-content>
