<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      JSStudyBuddy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <img src="assets/icon.png" alt="logo" />

    <div class="btnSet">
      <ion-button class="btnStartGame" (click)="navigateToSelectProblemsetScreen()" color="primary">Start Exercises</ion-button>
      <ion-button class="btnStartGame" (click)="navigateToSelectPresentationsScreen()" color="primary">Watch Presentations</ion-button>
      <ion-button class="btnStartGame" (click)="importCurriculum()" color="primary">Import Curriculum</ion-button>
      <ion-button class="btnStartGame" (click)="navigateToOverview()" color="primary">View Progress</ion-button>
      <ion-button class="btnStartGame" (click)="showPrivacyPolicy()" color="primary">Privacy Policy</ion-button>
    </div>

  </div>
</ion-content>
